.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Nav-bar-bottom {
  background-color:lightblue;
  border-style: solid;
  border-width: 5px;

}

.Hr-bottom {
  background-color:black;
  
}

.title {
  font-family:cursive;
  color:white;
  text-shadow: 2px 2px 4px #000000;
  border-style: solid;
  border-width: 5px;
  border-color:gray;
}

.title-bar{
  margin : 0em;
  background-color:lightblue;
  
}

.Profile-button{
  height: 1.8em;
  
}
.Account-button{
  height: 1.8em;
}

.profile{
  background-color: lightblue;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 10px;
}

.profile-grabber{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 2em;
  margin-top: 1em;
}

.dater-pic{
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-left: 10em;
  margin-right:3em;
  padding:5px;
  
}

.profile-username{
  float:right;
  margin-left: 1em;
  margin-right: 8em;
  font-family: 'Times New Roman', Times, serif;
  text-decoration-line: underline;
}

.profile-aboutme{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 400px;
  height: 205px;
  margin-left: 10em;
  padding: 5px;
  float: left;
  margin-right: 3em;
}

.children{
  font-style: italic;
}

.dog-picture{
  float: right;
  margin-left:3em;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-left: 10em;
  margin-right:10em;
  padding:5px;
  
  
}

.dog-info{
  margin-left:6.5em;
}

.about-pet{

 margin-left:10em;
 border-style: solid;
 border-width: 2px;
 border-color:black;
 width: 400px;
 height: 150px;
 padding:5px;
}


